[Desktop Entry]
Type=Service
Name=ZManager
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/zip;application/x-7z-compressed;application/vnd.rar;application/x-rar-compressed;application/x-tar;application/gzip;application/x-compressed-tar;application/x-xz;application/x-xz-compressed-tar;application/zstd;application/x-zmanager-tzst;application/x-zmanager-tzap;
Actions=ExtractHere;ExtractToFolder;OpenArchive;AddToArchive;AddToTzap;AddToZip;AddToSevenZ;AddToTzst;AddToTgz;CompressShareOnLan;ShareOnLan;
X-KDE-Priority=TopLevel
X-KDE-Submenu=ZManager

[Desktop Action ExtractHere]
Name=Extract Here
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action extract-here --path %F

[Desktop Action ExtractToFolder]
Name=Extract to Archive Folder
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action extract-to-folder --path %f

[Desktop Action OpenArchive]
Name=Open archive
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action open --path %f

[Desktop Action AddToArchive]
Name=Add to archive...
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action compress --path %F

[Desktop Action AddToTzap]
Name=Add to .tzap
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action compress-tzap --path %F

[Desktop Action AddToZip]
Name=Add to .zip
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action compress-zip --path %F

[Desktop Action AddToSevenZ]
Name=Add to .7z
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action compress-7z --path %F

[Desktop Action AddToTzst]
Name=Add to .tzst
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action compress-tzst --path %F

[Desktop Action AddToTgz]
Name=Add to .tgz
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action compress-tgz --path %F

[Desktop Action CompressShareOnLan]
Name=Compress and Share on LAN
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action compress-share-on-lan --path %F

[Desktop Action ShareOnLan]
Name=Share on LAN
Icon=zmanager-desktop
Exec=zmanager-desktop --quick-action share-lan --path %f
