[Desktop Entry]
Categories=Utility;
Comment=Safe archive manager for Windows, Linux, and macOS
Exec=zmanager-desktop %U
Icon=zmanager-desktop
MimeType=application/zip;application/x-7z-compressed;application/vnd.rar;application/x-rar-compressed;application/x-tar;application/gzip;application/x-compressed-tar;application/x-xz;application/x-xz-compressed-tar;application/zstd;application/x-zmanager-tzst;application/x-zmanager-tzap;
Name=ZManager
StartupWMClass=zmanager-desktop
StartupNotify=true
Terminal=false
Type=Application
Actions=ExtractHere;ExtractToFolder;OpenArchive;AddToArchive;AddToTzap;AddToZip;AddToSevenZ;AddToTzst;AddToTgz;

[Desktop Action ExtractHere]
Name=Extract Here
Exec=zmanager-desktop --quick-action extract-here --path %F
Icon=zmanager-desktop

[Desktop Action ExtractToFolder]
Name=Extract to Archive Folder
Exec=zmanager-desktop --quick-action extract-to-folder --path %f
Icon=zmanager-desktop

[Desktop Action OpenArchive]
Name=Open archive
Exec=zmanager-desktop --quick-action open --path %f
Icon=zmanager-desktop

[Desktop Action AddToArchive]
Name=Add to archive...
Exec=zmanager-desktop --quick-action compress --path %F
Icon=zmanager-desktop

[Desktop Action AddToTzap]
Name=Add to .tzap
Exec=zmanager-desktop --quick-action compress-tzap --path %F
Icon=zmanager-desktop

[Desktop Action AddToZip]
Name=Add to .zip
Exec=zmanager-desktop --quick-action compress-zip --path %F
Icon=zmanager-desktop

[Desktop Action AddToSevenZ]
Name=Add to .7z
Exec=zmanager-desktop --quick-action compress-7z --path %F
Icon=zmanager-desktop

[Desktop Action AddToTzst]
Name=Add to .tzst
Exec=zmanager-desktop --quick-action compress-tzst --path %F
Icon=zmanager-desktop

[Desktop Action AddToTgz]
Name=Add to .tgz
Exec=zmanager-desktop --quick-action compress-tgz --path %F
Icon=zmanager-desktop
